{% extends "faturas_base.html" %}

{% set page_title = "Faturas por Quitar" %}

{% block table_headers %}
<tr>
  <th scope="col">Tipo</th>
  <th scope="col">Fatura</th>
  <th scope="col">Emissão</th>
  <th scope="col">NIC</th>
  <th scope="col">Conta</th>
  <th scope="col">Cliente</th>
  <th scope="col">Ano</th>
  <th scope="col">Mês</th>
  <th scope="col">Dívida</th>
  <th scope="col">Pagar</th>
  <th scope="col">M12M</th>
  <th scope="col">Validar</th>
  <th scope="col"><input type="checkbox" id="quitarTodos"> Quitar</th>
</tr>
{% endblock %}

{% block extra_buttons %}
<button id="quitarMarcadas" class="btn btn-primary btn-custom mt-3">
  Quitar Faturas Selecionadas
</button>
{% endblock %}

{% block table_script %}
<div id="contas-blm-data" style="display:none" data-json='{{ contas_blm | tojson | safe }}'></div>
<script>
  const apiEndpoint = "/api/faturas";
  const contasBLM = JSON.parse(document.getElementById('contas-blm-data').dataset.json || '{}');
  const modo = "quitar"; // usado no JS comum
</script>
{% endblock %}