{% extends "base.html" %}

{% block title %}Faturas Processadas{% endblock %}

{% block header_title %}
Faturas Processadas
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info">
                <ul class="mb-0">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    {% if invoices %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nº Fatura</th>
                        <th>Data de Emissão</th>
                        <th>Nº Contribuinte</th>
                        <th>Nº Conta</th>
                        <th>Cliente</th>
                        <th>Endereço</th>
                        <th>CVP</th>
                        <th>Ano da Fatura</th>
                        <th>Mês da Fatura</th>
                        <th>Valor a Pagar</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                        <tr>
                            <td>{{ invoice.invoice_number }}</td>
                            <td>{{ invoice.issue_date or "N/A" }}</td>
                            <td>{{ invoice.taxpayer_number or "N/A" }}</td>
                            <td>{{ invoice.account_number or "N/A" }}</td>
                            <td>{{ invoice.client | safe if invoice.client else "N/A" }}</td>
                            <td>{{ invoice.address | safe if invoice.address else "N/A" }}</td>
                            <td>{{ invoice.cvp or "N/A" }}</td>
                            <td>{{ invoice.invoice_period_year or "N/A" }}</td>
                            <td>{{ invoice.invoice_period_month or "N/A" }}</td>
                            <td>{{ invoice.amount_to_pay or "N/A" }}</td>
                            <td>{{ invoice.total_amount or "N/A" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning">
            Nenhuma fatura processada.
        </div>
    {% endif %}
{% endblock %}