{% extends "faturas_base.html" %}

{% set page_title = "Faturas Quitadas" %}

{% block table_headers %}
<tr>
  <th scope="col">Tipo</th>
  <th scope="col">Fatura</th>
  <th scope="col">Emissão</th>
  <th scope="col">NIC</th>
  <th scope="col">Conta</th>
  <th scope="col">Cliente</th>
  <th scope="col">Ano</th>
  <th scope="col">Mês</th>
  <th scope="col">Dívida</th>
  <th scope="col">Pagar</th>
  <th scope="col">M12M</th>
  <th scope="col">Validação</th>
  <th scope="col">Quitada em</th>
  <th scope="col"><input type="checkbox" id="quitarTodos" {% if not is_admin %}disabled{% endif %}> Quitar</th>
  <th scope="col"><input type="checkbox" id="eliminarTodos" {% if not is_admin %}disabled{% endif %}> Eliminar</th>
</tr>
{% endblock %}

{% block extra_buttons %}
<button id="eliminarButton" class="btn btn-danger btn-custom mt-3" {% if not is_admin %}disabled{% endif %}>
  Eliminar Selecionados
</button>
{% endblock %}

{% block table_script %}
<script>
  const apiEndpoint = "/api/quitadas";
</script>
<script type="application/json" id="contas-blm-json">{{ contas_blm | tojson | safe }}</script>
<script type="application/json" id="is-admin-json">{{ is_admin | tojson }}</script>
<script>
  const contasBLM = JSON.parse(document.getElementById('contas-blm-json').textContent || 'null');
  const modo = "quitadas";
  const isAdmin = JSON.parse(document.getElementById('is-admin-json').textContent || 'false');
</script>
{% endblock %}